---
name: Test

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  Linux:
    strategy:
      fail-fast: false
      matrix:
        volume:
          - /tmp
          - .
          - /

    name: Linux ${{ matrix.volume }}
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - run: sudo apt-get install -y libparted-dev libudev-dev
      - run: make all extra

      - if: matrix.volume == '/'
        run: sudo chmod a+w /

      - run: ./f3write -V
      - run: ./f3write --help
      - run: ./f3write -s 2 -e 4 -w 50000 ${{ matrix.volume }}

      - run: stat ${{ matrix.volume }}/2.h2w
      - run: stat ${{ matrix.volume }}/3.h2w
      - run: stat ${{ matrix.volume }}/4.h2w

      - run: ./f3read -V
      - run: ./f3read --help
      - run: ./f3read -s 2 -e 4 -r 50000 ${{ matrix.volume }}

  MacOS:
    strategy:
      fail-fast: false
      matrix:
        volume:
          - /tmp
          - .
          # MacOS denies `sudo chmod a+w /`
          #- /

    name: MacOS ${{ matrix.volume }}
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v3
      - run: brew install argp-standalone
      - run: make

      - run: ./f3write -V
      - run: ./f3write --help
      - run: ./f3write -s 2 -e 4 -w 50000 ${{ matrix.volume }}

      - run: stat ${{ matrix.volume }}/2.h2w
      - run: stat ${{ matrix.volume }}/3.h2w
      - run: stat ${{ matrix.volume }}/4.h2w

      - run: ./f3read -V
      - run: ./f3read --help
      - run: ./f3read -s 2 -e 4 -r 50000 ${{ matrix.volume }}

  Cygwin:
    strategy:
      fail-fast: false
      matrix:
        volume:
          - cygwin: /cygdrive/c
            windows: 'C:'
          - cygwin: .
            windows: .
          - cygwin: /
            windows: 'C:\cygwin'

    name: Cygwin ${{ matrix.volume.cygwin }}
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3

      - uses: cygwin/cygwin-install-action@v2
        with:
          packages: gcc-core libargp-devel make

      - run: "$Env:LDFLAGS = '-Wl,--stack,4000000'; make"

      - run: '& .\f3write.exe -V'
      - run: '& .\f3write.exe --help'
      - run: '& .\f3write.exe -s 2 -e 4 -w 50000 ${{ matrix.volume.cygwin }}'

      - run: 'Get-Item ${{ matrix.volume.windows }}\2.h2w'
      - run: 'Get-Item ${{ matrix.volume.windows }}\3.h2w'
      - run: 'Get-Item ${{ matrix.volume.windows }}\4.h2w'

      - run: '& .\f3read.exe -V'
      - run: '& .\f3read.exe --help'
      - run: '& .\f3read.exe -s 2 -e 4 -r 50000 ${{ matrix.volume.cygwin }}'
